.vscode
zappy*
zappy_gui
zappy_ai
zappy_server
build
*.o
notes.txt
vgcore.*
orga.txt
*.txt
*/TexturesExtracted/
*.zip
__pycache__/
*.pyc
notes.txt
zappy_gui.AppImage
lancer.sh
reference_server
orga.txt
Tests
*.gcno
*.gcda
